#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    format_tag_separator: " | ",
    multiple_tag_resolution_strategy: All,
    browser_column_widths: [20, 38, 42],
    background_color: "#2D353B",
    modal_backdrop: true,
    text_color: "#D3C6AA",
    header_background_color: "#2D353B",
    modal_background_color: "#2D353B",
    preview_label_style: (fg: "#D699B6"),
    preview_metadata_group_style: (fg: "#A7C080"),
    song_table_album_separator: None,
    tab_bar: (
        active_style: (fg: "#2D353B", bg: "#A7C080", modifiers: "Bold"),
        inactive_style: (fg: "#7A8478", bg: "#2D353B"),
    ),
    highlighted_item_style: (fg: "#7FBBB3", bg: "#3D484D", modifiers: "Bold"),
    current_item_style: (fg: "#2D353B", bg: "#A7C080", modifiers: "Bold"),
    borders_style: (fg: "#A7C080", modifiers: "Bold"),
    highlight_border_style: (fg: "#A7C080"),
    symbols: (song: "󰝚 ", dir: "󱍙 ", playlist: "󰲸 ", marker: "\u{e0b0}", ellipsis: "...",
        song_style: (fg: "#A7C080"), song_highlighted_style: None, song_current_style: (fg: "#2D353B"),
        dir_style: (fg: "#A7C080"), dir_highlighted_style: None, dir_current_style: (fg: "#2D353B"),
        playlist_style: (fg: "#A7C080"), playlist_highlighted_style: None, playlist_current_style: (fg: "#2D353B"),
        marker_style: (fg: "#DBBC7F"), marker_highlighted_style: (fg: "#DBBC7F"), marker_current_style: (fg: "#2D353B", bg: "#DBBC7F" ),
    ),
    progress_bar: (
        symbols: ["", "█", "", "█", "" ],
        track_style: (fg: "#3D484D", bg: "#2D353B"),
        elapsed_style: (fg: "#A7C080", bg: "#2D353B"),
        thumb_style: (fg: "#A7C080", bg: "#3D484D"),
        use_track_when_empty: false,
    ),
    scrollbar: (
        // symbols: ["┋", "█", "󰄿", "󰄼"],
        symbols: ["│", "█", "󰄿", "󰄼"],
        track_style: (fg: "#3D484D"),
        ends_style: (fg: "#A7C080"),
        thumb_style: (fg: "#A7C080", bg: "#3D484D"),
    ),
    song_table_format: [
        (prop: (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
            (match:  "0", replace: (kind: Group([(kind: Text("󰎡"),style: (fg: "#E67E80"))]))),
            (match:  "1", replace: (kind: Group([(kind: Text("󰎤"),style: (fg: "#E67E80"))]))),
            (match:  "2", replace: (kind: Group([(kind: Text("󰎧"),style: (fg: "#E69875"))]))),
            (match:  "3", replace: (kind: Group([(kind: Text("󰎪"),style: (fg: "#E69875"))]))),
            (match:  "4", replace: (kind: Group([(kind: Text("󰎭"),style: (fg: "#DBBC7F"))]))),
            (match:  "5", replace: (kind: Group([(kind: Text("󰎱"),style: (fg: "#DBBC7F"))]))),
            (match:  "6", replace: (kind: Group([(kind: Text("󰎳"),style: (fg: "#A7C080"))]))),
            (match:  "7", replace: (kind: Group([(kind: Text("󰎶"),style: (fg: "#A7C080"))]))),
            (match:  "8", replace: (kind: Group([(kind: Text("󰎹"),style: (fg: "#83C092"))]))),
            (match:  "9", replace: (kind: Group([(kind: Text("󰎼"),style: (fg: "#83C092"))]))),
            (match: "10", replace: (kind: Group([(kind: Text("󰽽"),style: (fg: "#7FBBB3"))]))),
        ])), default: (kind: Text(""), style: (fg: "#7A8478"))),
        width: "3",
        label: "Rating",
        alignment: Center,
            label_prop: (kind: Group([
                (kind: Text("󰩳"), style: (fg: "#D699B6")),
            ]))
        ),
        (prop: (kind: Sticker("playCount"),style: (fg: "#A7C080"),
            default: (kind: Text(""), style: (fg: "#7A8478"))),
            width: "3",
            alignment: Left,
            label: "Playcount",
            label_prop: (kind: Group([
                (kind: Text("󱖏"), style: (fg: "#D699B6")),
            ]))
        ),
        (prop:(kind: Text("│"), style: (fg: "#A7C080")),
            width: "1",
            alignment: Center,
            label: "",
            label_prop: (kind: Group([
                (kind: Text("│"), style: (fg: "#A7C080")),
            ]))
        ),
        (prop: (kind: Property(Position), style: (fg: "#7A8478"),
            default: (kind: Text("-"), style: (fg: "#7A8478"))),
            width: "4",
            alignment: Center,
            label: "",
            label_prop: (kind: Group([
                (kind: Text("󰴍"), style: (fg: "#D3C6AA")),
            ]))
        ),
        (prop: (kind: Property(Title), style: (fg: "#7FBBB3"),
            default: (kind: Property(Filename), style: (fg: "#D3C6AA"),
                default: (kind: Text("Unknown Title"), style: (fg: "#D3C6AA")))),
            width: "64%",
            label_prop: (kind: Group([
                (kind: Text("Title "), style: (fg: "#D3C6AA")),
                (kind: Text(""), style: (fg: "#A7C080"))
            ]))
        ),
        (prop: (kind: Property(Artist), style: (fg: "#A7C080"),
            default: (kind: Text("Unknown Artist"), style: (fg: "#7A8478"))),
            width: "28%",
            label_prop: (kind: Group([
                (kind: Text("Artist "), style: (fg: "#D3C6AA")),
                (kind: Text(""), style: (fg: "#A7C080"))
            ]))
        ),
        (prop: (kind: Property(Duration), style: (fg: "#7FBBB3"),
            default: (kind: Text("-"))),
            width: "8%",
            alignment: Right,
            label_prop: (kind: Group([
                (kind: Text("Length "), style: (fg: "#D3C6AA")),
                (kind: Text(" "), style: (fg: "#A7C080"))
            ]))
        ),
    ],
    layout: Split(direction: Vertical, panes: [
        (size: "7", borders: "NONE", pane: Component("header")),
        (size: "100%", borders: "NONE", pane: Pane(TabContent)),
        (size: "3", borders: "NONE", pane: Component("progress_bar")),
    ]),
    browser_song_format: [
        (kind: Group([
            (kind: Property(Track)),
            (kind: Text(" ")),
        ])),
        (kind: Group([
            (kind: Property(Artist)),
            (kind: Text(" - ")),
            (kind: Property(Title)),
        ]), default: (kind: Property(Filename)))
    ],
    level_styles: (
        info:  (fg: "#7FBBB3", bg: "#2D353B"),
        warn:  (fg: "#DBBC7F", bg: "#2D353B"),
        error: (fg: "#E67E80", bg: "#2D353B"),
        debug: (fg: "#83C092", bg: "#2D353B"),
        trace: (fg: "#D699B6", bg: "#2D353B"),
    ),
    components: {
        "header_tab_bar": Split(direction: Horizontal, panes: [
            (size: "11%", borders: "NONE", pane: Component("tab_bar_left")),
            (size: "78%", borders: "NONE", pane: Pane(Tabs)),
            (size: "11%", borders: "NONE", pane: Component("tab_bar_right")),
        ]),
        "header_line_1": Split(direction: Horizontal, panes: [
            (size: "22%", pane: Component("header_element_1")),
            (size: "1", pane: Component("header_element_space")),
            (size: "56%", pane: Component("header_element_2")),
            (size: "1", pane: Component("header_element_space")),
            (size: "22%", pane: Component("header_element_3")),
            (size: "2", pane: Component("header_element_right_end")),
        ]),
        "header_line_2": Split(direction: Horizontal, panes: [
            (size: "22%", pane: Component("header_element_4")),
            (size: "1", pane: Component("header_element_space")),
            (size: "56%", pane: Component("header_element_5")),
            (size: "1", pane: Component("header_element_space")),
            (size: "22%", pane: Component("header_element_6")),
            (size: "2", pane: Component("header_element_right_end")),
        ]),
        "header_line_3": Split(direction: Horizontal, panes: [
            (size: "25%", pane: Component("header_element_7")),
            (size: "1", pane: Component("header_element_space")),
            (size: "50%", pane: Component("header_element_8")),
            (size: "1", pane: Component("header_element_space")),
            (size: "25%", pane: Component("header_element_9")),
            (size: "2", pane: Component("header_element_right_end")),
        ]),
        "header": Split(direction: Vertical, panes: [
            (size: "2", borders: "TOP | RIGHT | LEFT", border_symbols: Rounded,
                pane: Split(direction: Horizontal, panes: [
                    (size: "100%", borders: "NONE", pane: Component("header_tab_bar")),
                ])
            ),
            (size: "5", borders: "ALL", border_symbols: Library("rounded_collapsed_top"),
                border_title: [
                    (kind: Text("─"), style: (fg: "#A7C080")),
                    (kind: Transform(Replace(content: (kind: Sticker("like")), replacements: [
                        (match:  "0", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("󰋔 "), style: (fg: "#E67E80")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "1", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("󰋕 "), style: (fg: "#DBBC7F")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "2", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text(" "), style: (fg: "#7FBBB3")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                    ]))),
                    (kind: Text("─"), style: (fg: "#A7C080")),
                    (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
                        (match:  "0", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("     "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "1", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text(" "),         style: (fg: "#7FBBB3")), (kind: Text("    "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "2", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text(" "),         style: (fg: "#7FBBB3")), (kind: Text("    "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "3", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("  "),       style: (fg: "#7FBBB3")), (kind: Text("   "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "4", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("  "),       style: (fg: "#7FBBB3")), (kind: Text("   "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "5", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("   "),     style: (fg: "#7FBBB3")), (kind: Text("  "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "6", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("   "),     style: (fg: "#7FBBB3")), (kind: Text("  "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "7", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("    "),   style: (fg: "#7FBBB3")), (kind: Text(" "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "8", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("    "),   style: (fg: "#7FBBB3")), (kind: Text(" "), style: (fg: "#A7C080")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match:  "9", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("     "), style: (fg: "#7FBBB3")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                        (match: "10", replace: (kind: Group([(kind: Text("["), style: (fg: "#A7C080")), (kind: Text("     "), style: (fg: "#7FBBB3")), (kind: Text("]"), style: (fg: "#A7C080"))]))),
                    ])), default: (kind: Text("─"),style: (fg: "#A7C080"))),
                    (kind: Text("─"), style: (fg: "#A7C080")),
                ],
                border_title_position: Bottom,
                border_title_alignment: Right,
                pane: Split(direction: Vertical, panes: [
                    (size: "100%", borders: "NONE", pane: Component("header_line_1")),
                    (size: "100%", borders: "NONE", pane: Component("header_line_2")),
                    (size: "100%", borders: "NONE", pane: Component("header_line_3")),
                ])
            ),
        ]),
        "progress_bar": Split(direction: Vertical, panes: [
            (size: "3", borders: "ALL", border_symbols: Rounded ,
                border_title: [
                    (kind: Property(Status(Elapsed)),style: (fg: "#D3C6AA")),
                        (kind: Property(Status(StateV2(
                            playing_label: "─󱦟─",
                            paused_label: "  ",
                            stopped_label: "  ",
                            playing_style: (fg: "#A7C080", modifiers: "Bold"),
                            paused_style: (fg: "#E69875", modifiers: "Bold"),
                            stopped_style: (fg: "#E67E80", modifiers: "Bold")
                     )))),
                    (kind: Property(Status(Duration)),style: (fg: "#D3C6AA")),
                ],
                border_title_position: Top,
                border_title_alignment: Center,
                pane: Split(direction: Vertical, panes: [
                    (size: "100%", borders: "NONE",pane: Pane(ProgressBar)),
                ])
            ),
        ]),
        "tab_bar_left": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text(" "), style: (fg: "#A7C080", modifiers: "Bold")),
                        (kind: Property(Status(StateV2(
                            playing_label: "",
                            paused_label: "",
                            stopped_label: "",
                            playing_style: (fg: "#A7C080", modifiers: "Bold"),
                            paused_style: (fg: "#E69875", modifiers: "Bold"),
                            stopped_style: (fg: "#E67E80", modifiers: "Bold")
                     )))),
                (kind: Text("  "), style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Song(FileExtension)), style: (fg: "#D3C6AA")),
                (kind: Text(" ")),
                (kind: Property(Widget(ScanStatus)), style: (fg: "#D3C6AA", modifiers: "Bold")),
                (kind: Text(" ")),
                (kind: Property(Status(InputBuffer())), style: (fg: "#7A8478")),
            ], align: Left))),
        ]),
        "tab_bar_right": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Transform(Replace(content: (kind: Property(Status(Partition)), style: (fg: "#7A8478")), replacements: [
                    (match:  "default", replace: (kind: Group([(kind: Text(""))]))),
                ]))),
                (kind: Text(" ")),
                (kind: Property(Song(Channels())), style: (fg: "#7A8478"),
                    default: (kind: Text("0"), style: (fg: "#7A8478"))),
                (kind: Text(" 󱡫 "),style: (fg: "#7A8478")),
                (kind: Text(" 󱡬"), style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(Volume)), style: (fg: "#D3C6AA")),
                (kind: Text("% "), style: (fg: "#A7C080", modifiers: "Bold"))
            ], align: Right))),
        ]),
        "header_element_1": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text("[ "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(Elapsed)),style: (fg: "#D3C6AA")),
                (kind: Text(" / "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(Duration)),style: (fg: "#D3C6AA")),
                (kind: Text(" 󱦟"),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Text(" ]"),style: (fg: "#A7C080", modifiers: "Bold")),
            ], align: Left))),
        ]),
        "header_element_2": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Property(Song(Title)), style: (fg: "#D3C6AA",modifiers: "Bold"),
                    default: (kind: Property(Song(Filename)), style: (fg: "#D3C6AA",modifiers: "Bold"),
                        default: (kind: Text("Unknown Title"), style: (fg: "#D3C6AA",modifiers: "Bold"))
                    )
                )
            ], align: Center, scroll_speed: 6))),
        ]),
        "header_element_3": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text("[ "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
                    on_style: (fg: "#DBBC7F", modifiers: "Bold"),
                    off_style: (fg: "#7A8478", modifiers: "Bold"))))
                ),
                (kind: Text(" | "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                    on_style: (fg: "#DBBC7F", modifiers: "Bold"),
                    off_style: (fg: "#7A8478", modifiers: "Bold"))))
                ),
                (kind: Text(" | "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
                    on_style: (fg: "#DBBC7F", modifiers: "Bold"),
                    off_style: (fg: "#7A8478", modifiers: "Bold"))))
                ),
                (kind: Text(" | "),style: (fg: "#A7C080", modifiers: "Bold")),
                //(kind: Property(Status(SingleV2(on_label: "󰑘", off_label: "󰑘", oneshot_label: "󰑘 ", off_oneshot_label: "󱅊",
                //    on_style: (fg: "#DBBC7F", modifiers: "Bold"),
                //    off_style: (fg: "#7A8478", modifiers: "Bold"))))
                //),
                (kind: Property(Status(SingleV2(
                    on_label: "󰑘",
                    off_label: "󰑘",
                    oneshot_label: "󰑘",
                    oneshot_style: (fg: "#DBBC7F", modifiers: "Bold"),
                    on_style: (fg: "#7FBBB3", modifiers: "Bold"),
                    off_style: (fg: "#7A8478", modifiers: "Bold"),
                )))),
                (kind: Text(" | "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(Crossfade)),style: (fg: "#7A8478"),
                    default: (kind: Text("󰴽"), style: (fg: "#7A8478"))
                ),
                (kind: Text(" | "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Transform(Replace(content: (kind: Property(Status(InputMode()))), replacements: [
                    (match:  "Normal", replace: (kind: Group([(kind: Text("N"),style: (fg: "#7A8478", modifiers: "Bold"))]))),
                    (match:  "Insert", replace: (kind: Group([(kind: Text("I"),style: (fg: "#D3C6AA", modifiers: "Bold"))]))),
                ]))),
            ], align: Right))),
        ]),
        "header_element_4": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text("[ "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Song(Bits())),default: (kind: Text(" "), style: (fg: "#D3C6AA")), style: (fg: "#D3C6AA")),
                (kind: Text(" bit"),style: (fg: "#A7C080")),
                (kind: Text(" | "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(Bitrate)),default: (kind: Text(" "), style: (fg: "#D3C6AA")),style: (fg: "#D3C6AA")),
                (kind: Text(" kbps"),style: (fg: "#A7C080")),
                (kind: Text(" ]"),style: (fg: "#A7C080", modifiers: "Bold"))
            ], align: Left))),
        ]),
        "header_element_5": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Transform(Replace(content:
                    (kind: Property(Song(Artist)), style: (fg: "#7FBBB3"),
                        default: (kind: Text("Unknown Artist"), style: (fg: "#7FBBB3"))
                    ), replacements: [(match:  "", replace: (kind: Group([(kind: Text("Unknown Artist"), style: (fg: "#7FBBB3"))])))]
                ))),
                (kind: Text(" - "), style: (fg: "#D3C6AA")),
                (kind: Transform(Replace(content:
                    (kind: Property(Song(Album)),style: (fg: "#A7C080" ),
                        default: (kind: Text("Unknown Album"), style: (fg: "#A7C080"))
                    ), replacements: [(match:  "", replace: (kind: Group([(kind: Text("Unknown Album"), style: (fg: "#A7C080"))])))]
                ))),
            ], align: Center, scroll_speed: 6))),
        ]),
        "header_element_6": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text("[ "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(QueueTimeRemaining(separator: " "))),style: (fg: "#D3C6AA")),
                (kind: Text(" / "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "#D3C6AA")),
                (kind: Text(" "),style: (fg: "#A7C080", modifiers: "Bold")),
            ], align: Right))),
        ]),
        "header_element_7": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text("[ "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Song(SampleRate())), default: (kind: Text(" "), style: (fg: "#D3C6AA")), style: (fg: "#D3C6AA")),
                (kind: Text(" Hz"),style: (fg: "#A7C080")),
                (kind: Text(" | "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Song(Position)), style: (fg: "#D3C6AA"), default: (kind: Text("0"), style: (fg: "#D3C6AA"))),
                (kind: Text(" / "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Property(Status(QueueLength())),style: (fg: "#D3C6AA")),
                (kind: Text(" 󰴍"),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Text(" ]"),style: (fg: "#A7C080", modifiers: "Bold"))
            ], align: Left))),
        ]),
        "header_element_8": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Transform(Replace(content:
                    (kind: Property(Song(Other("albumartist"))),style: (fg: "#7A8478"),
                        default: (kind: Text("Unknown Albumartist"), style: (fg: "#7A8478"))
                    ), replacements: [(match:  "", replace: (kind: Group([(kind: Text("Unknown Albumartist"), style: (fg: "#7A8478"))])))]
                ))),
                (kind: Text(" - "), style: (fg: "#7A8478")),
                (kind: Transform(Replace(content:
                    (kind: Property(Song(Other("composer"))),style: (fg: "#7A8478"),
                        default: (kind: Text("Unknown Composer"), style: (fg: "#7A8478"))
                    ), replacements: [(match:  "", replace: (kind: Group([(kind: Text("Unknown Composer"), style: (fg: "#7A8478"))])))]
                ))),
            ], align: Center, scroll_speed: 6))),
        ]),
        "header_element_9": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text("[ "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Transform(Replace(content:
                    (kind: Property(Song(Other("date"))),style: (fg: "#D3C6AA"),
                        default: (kind: Text("Unknown Date"), style: (fg: "#7A8478"))
                    ), replacements: [(match:  "", replace: (kind: Group([(kind: Text("Unknown Date"), style: (fg: "#7A8478"))])))]
                ))),
                (kind: Text(" | "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Transform(Replace(content:
                    (kind: Property(Song(Track)),style: (fg: "#D3C6AA"),
                        default: (kind: Text("0"), style: (fg: "#7A8478"))
                    ), replacements: [(match:  "", replace: (kind: Group([(kind: Text("0"), style: (fg: "#7A8478"))])))]
                ))),
                (kind: Text(" / "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Transform(Replace(content:
                    (kind: Property(Song(Disc)),style: (fg: "#D3C6AA"),
                        default: (kind: Text("0"), style: (fg: "#7A8478"))
                    ), replacements: [(match:  "", replace: (kind: Group([(kind: Text("0"), style: (fg: "#7A8478"))])))]
                ))),
                (kind: Text(" 󰥠 | "),style: (fg: "#A7C080", modifiers: "Bold")),
                (kind: Transform(Replace(content:
                    (kind: Property(Song(Other("genre"))),style: (fg: "#D3C6AA"),
                        default: (kind: Text("Unknown Genre"), style: (fg: "#7A8478"))
                    ), replacements: [(match:  "", replace: (kind: Group([(kind: Text("Unknown Genre"), style: (fg: "#7A8478"))])))]
                ))),
            ], align: Right))),
        ]),
        "header_element_right_end": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text(" ]"),style: (fg: "#A7C080", modifiers: "Bold")),
            ], align: Right))),
        ]),
        "header_element_space": Split(direction: Horizontal, panes: [
            (size: "100%", pane: Pane(Property(content: [
                (kind: Text(" ")),
            ], align: Right))),
        ]),
    },
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        bar_width: 1, bar_spacing: 1,
        bg_color: "#2D353B",
        bar_color: Gradient({
             0: "#7FBBB3",
            14: "#83C092",
            28: "#A7C080",
            42: "#DBBC7F",
            56: "#E69875",
            70: "#E67E80",
            84: "#E67E80",
           100: "#D699B6",
        })
    ),
    lyrics:(
        timestamp: false,
        alignment: Center,
    ),
    border_symbol_sets: {
        "rounded_collapsed_top": (
            parent: Rounded,
            top_left: "├",
            top_right: "┤",
        ),
    },
)
